@page
@model BookStoreApp.Pages.Books.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Books</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Books.ISBN)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Books.ISBN)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Books.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Books.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Books.PublicationDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Books.PublicationDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Books.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Books.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Books.UserReview)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Books.UserReview)
        </dd>
        <dt class="col-sm-2">
            Authors
        </dt>
        <dd class="col-sm-10">
            <table class="table">
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                </tr>
                @foreach (var item in Model.Books.Writes)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.AuthorOfBooks.Fname)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AuthorOfBooks.Lname)
                        </td>
                    </tr>
                }
            </table>
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Books?.ISBN">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
