@page
@model BookStoreApp.Pages.Authors.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AuthorOfBooks</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AuthorOfBooks.AuthorContactDetails)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AuthorOfBooks.AuthorContactDetails.ContactID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AuthorOfBooks.Fname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AuthorOfBooks.Fname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AuthorOfBooks.Lname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AuthorOfBooks.Lname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AuthorOfBooks.Gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AuthorOfBooks.Gender)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AuthorOfBooks.DateOfBirth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AuthorOfBooks.DateOfBirth)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.AuthorOfBooks?.AuthorID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
